{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "styles": "./src/Styles",
                    "colors":"./src/Styles/color.js"
                }
            }
        ]
    ]
}